.footer-basic {
    position: flexible;
    left: 0;
    bottom: 0;
    width: 100%;
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
}
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:20px;
    color:#aaa;
    margin-bottom:0;
}
nav{
    background-color: transparent;
    box-shadow: none
}
div.nav-title{
    padding:10px 0;
    font-size:18px;
}
.nav-ico{
    color: #26a69a;
}