<html>
<head>
    <title>{{code}} - {{name}}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
<style>
  h1{
    font-size:80px;
    font-weight:800;
    text-align:center;
    font-family: 'Roboto', sans-serif;
  }
  h2
  {
    font-size:25px;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    margin-top:-40px;
  }
  p{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-size:15px;
  }

  .container
  {
    width:300px;
    margin: 0 auto;
    margin-top:15%;
  }
</style>
</head>
<body>
    <div class="container">
        <h1>{{ code }}</h1>
        <h2>{{name}}</h2>
        <p>{{ message }}<a href=""><br>Home Page</a></p>
    </div>
</body>
</html>
