<html lang="en">
<head>
    <title>Status Panel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/controls.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/tab-controller.js') }}"></script>
</head>
<body>
    <div class="container">
    <!-- NavBar Block -->
        <a href="/logout" class="nav-buttons">
            <i class="material-icons btn_icon">logout</i> Logout
        </a>
         <div class="nav-title">
            <a href="/" class="nav-title" target="_blank">
                <img src="https://raw.githubusercontent.com/trydirect/status/testing/assets/logo/status_90x15.png.png" title="Minimal docker container management panel">
            </a>
        </div>
    <!-- End NavBar block -->
    <!-- SSL Block -->
        {% if ssl_enabled %}
            <h3>SSL is already enabled</h3>
            <a href="https://{{domain}}" target="_blank">https://{{domain}}</a> <br />
            <a href="/disable_ssl" class="btn waves-effect waves-light" >
                <i class="large material-icons btn_icon">lock</i> DISABLE SSL
            </a>
        {% else %}
            <br><br><br>

            {% if can_enable %}
                <a href="/enable_ssl" class="btn waves-effect waves-light" >
                    <i class="large material-icons btn_icon" >lock</i> Enable SSL
                </a>
            {% else %}
                <button disabled class="btn waves-effect waves-light" >
                    <i class="large material-icons btn_icon" >lock</i> Enable SSL
                </button> <br />
                <div class="card horizontal">
                    <div class="card-content">
                        You <b>can't enable</b> SSL because the DNS are not propagated yet to this IP
                        <a title="What is Domain IP?" target="_blank" href="https://try.direct/explains/what-is-dns-propagation">
                            <i class="material-icons btn_icon">help</i>
                        </a>
                        </div>
                </div>
                <div class="card horizontal">
                    <div class="card-content">
                        {% if ip %}
                            <p>Server IP: {{ip}}</p>
                        {% endif %}
                        {% if domainIp %}
                            <p>Your domain "A" record is set to: {{domainIp}}
                                <a title="What is Domain IP address?" target="_blank" href="https://try.direct/explains/what-is-domain-ip-address">
                                    <i class="material-icons btn_icon">help</i>
                                </a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    <!-- End SSL block -->
    <!-- Tab Block -->
        <!-- Tab buttons block -->
        <button class="tab-button waves-effect waves-light btn modal-trigger" onclick="displayTab('docker-containers')">
            <i class="material-icons btn_icon">border_all</i> Running containers</button>
        <button class="tab-button waves-effect waves-light btn modal-trigger" onclick="displayTab('self-hosted')">
            <i class="material-icons btn_icon">pages</i> WEB access</button>
        <button class="tab-button waves-effect waves-light btn modal-trigger" onclick="displayTab('installed-apps')">
            <i class="material-icons btn_icon">apps</i> Installed apps</button>
        <!-- End Tab buttons block -->

        {% if container_list %}
            <!-- Running containers TAB -->
            <div id="docker-containers" class="tab-content active-tab">
            <h3 class="tab-title">Running containers</h3>
            <table width="100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th width="70px" style="text-align: right">Logs</th>
                    </tr>
                </thead>
                <tbody>
                    {% for container in container_list %}
                    <tr>
                        <td>
                            {{container['name']}}
                        </td>
                        <td width="250px">
                            {% if container['status'] == 'running' %}
                            <span class='container-status'>
                                <i class="tiny material-icons active">fiber_manual_record</i> <span>{{container['status']}}</span>
                            </span>
                            {% else %}
                            <span class='container-status'>
                                <i class="tiny material-icons paused">fiber_manual_record</i> <span>{{container['status']}}</span>
                            </span>
                            {% endif %}
                        <a class="dropdown-trigger btn" href="#" data-target="action_{{ container['name'] }}">Action<i class="material-icons right btn_icon" >arrow_drop_down</i></a>

                          <!-- Dropdown Buttons -->
                        <ul id="action_{{ container['name'] }}" class="dropdown-content">
                            <li><a href="/restart/{{ container['name'] }}">Restart</a></li>
                            <li><a href="/pause/{{ container['name'] }}">Pause</a></li>
                        </ul>
                        </td>
                        <td width="170px" style="text-align: right">
                            <a class="waves-effect waves-light btn modal-trigger" href="#modal_{{container['name']}}">
                                <i class="material-icons btn_icon">history</i>
                                View logs
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <!-- End Running containers TAB -->

            <!-- Self-hosted TAB -->
            <div id="self-hosted" class="tab-content">
            <h3 class="tab-title">Available web pages</h3>
            <table width="100%">
                <thead>
                    <tr>
                        <th>Web page</th>
                        <th>Container name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for container in container_list %}
                        {% if container.ports %}
                            {% for port in container.ports %}
                                 <tr>
                                    <td>
                                        <a href="http://{{ ip }}:{{port.port}}/">
                                            {% if port.title %}
                                                {{ port.title }}
                                            {% else %}
                                                {{ ip }}:{{port.port}}
                                            {% endif %}
                                            </a><br>
                                    </td>
                                    <td>{{container['name']}}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <!-- End Self-hosted TAB -->
            <!-- Modal windows Block -->
            {% for container in container_list %}
            <div id="modal_{{container['name']}}" class="modal">
                <div class="modal-content">
                  <h4>{{container['name']}}</h4>
                  <p style="white-space: pre;">{{container['logs']}}</p>
                </div>
              </div>
            {% endfor %}
            <!-- End Modal windows block -->
        {% endif %}
        <div id="installed-apps" class="tab-content">
                <h3 class="tab-title">Installed Applications</h3>
                <table width="100%">
                    <thead>
                        <tr>
                            <th>Application</th>
                            <th>Version</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for app_info in apps_info %}
                             <tr>
                                <td>{{ app_info['name'] }}<br></td>
                                <td>{{ app_info['version'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
    <!-- End Tab block -->
    </div>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
    });

    $(document).ready(function(){
    $('.modal').modal();
    $('.dropdown-trigger').dropdown();
    });

    </script>
    <div class="footer-basic">
            <footer>
                <p class="copyright">v{{ panel_version }}</p>
            </footer>
        </div>
</body>
</html>